*
!.gitignore
!.emacs.d/init.el
!.emacs.d/early-init.el
!.emacs.d/custom.el
!.emacs.d/tab-config.el
!.emacs.d/site-lisp/
!.emacs.d/site-lisp/**
!nvim/base46-cache/
!nvim/harpoon/
!nvim/lazy/
!nvim/telescope_history
!.local/
!.local/bin/
!.local/bin/**
!.local/src/dwmblocks
!applications/img.desktop
!applications/pdf.desktop
!applications/text.desktop
!applications/video.desktop
!discord/settings.json
!xorg/00-keyboard.conf
!.config/
!.config/stylus/
!.config/stylus/**
!.zsh
!sxhkd
!yazi
!zathura
!.bashrc
!.tmux.conf
!.vimrc
!.wezterm.lua
!.xinitrc
!.zshrc
!profile
!update-home
