# nvim runtime state (nvim package is folded: ~/nvim -> dotfiles/nvim/nvim)
nvim/nvim/lazy/
nvim/nvim/harpoon/
nvim/nvim/base46-cache/
nvim/nvim/telescope_history
nvim/nvim/transparent_cache
# yazi plugins/flavors are installed from package.toml
yazi/yazi/plugins/
yazi/yazi/flavors/
